::slotted(swiper-slide) {
  width: auto;
}
:host {
  --swiper-theme-color: rgb(138 68 107);
}
.swiper-button-next,
.swiper-button-prev {
  padding: 2rem 1rem;
  margin-top: -3rem;
  border-radius: 5rem;
  background-color: rgb(249, 246, 242, 0.25);
  transition: background-color 0.2s;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: rgb(249, 246, 242);
}
.swiper-button-next:active,
.swiper-button-prev:active {
  background-color: rgb(221, 217, 213);
}
