@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Noto Sans TC", sans-serif;
  font-optical-sizing: auto;
}

@layer components {
  .wave-border {
    position: relative;
  }
  .wave-border::after {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    display: block;
    box-sizing: border-box;
    border: 0.4rem solid #f9f6f2;
    border-image-source: url(./assets/border-fill.svg);
    border-image-slice: 10%;
    border-image-repeat: round;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
  }

  .dark .wave-border::after {
    border-image-source: url(./assets/border-fill-dark.svg);
  }

  .lato {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  *:focus-visible {
    outline-color: rgb(138, 68, 107);
  }
}

model-viewer {
  width: 100%;
  height: min(30rem, calc(80vh - 3rem));
  background: linear-gradient(45deg, #6662 0%, #6661 100%);
  --poster-color: transparent;
  --progress-mask: transparent;
  --progress-bar-color: #22254f;
  --progress-bar-height: 0.2rem;
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background: rgb(249, 246, 242);
}

::-webkit-scrollbar-track:hover {
  background: #8882;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(138, 68, 107, 0.4);
  border-radius: 8px;
  border: solid 3px rgb(249, 246, 242);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(138, 68, 107) !important;
  border-width: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(172, 111, 144) !important;
}

.dark::-webkit-scrollbar-thumb,
.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(138, 68, 107);
  border: solid 3px rgb(23 23 23);
}

.dark::-webkit-scrollbar-track,
.dark ::-webkit-scrollbar-track {
  background: rgb(23 23 23);
}

.dark::-webkit-scrollbar-track:hover,
.dark ::-webkit-scrollbar-track:hover {
  background: rgb(69 69 69);
}
